//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'DocumentReview'

append scripts
  script.
    var competitionId = "#{competition}"
    var teamId = "#{team}"
    var token = "#{token}"
    var userId = "#{user._id}"
    var userName = "#{user.username}"
  script(src="/javascripts/documentReviewed.js")
  script(src="/components/jquery-ui/jquery-ui.min.js")
  script(src='/components/lightbox2/dist/js/lightbox.min.js')




append css
    style.
        p{
            margin-bottom: 0;
        }
        #container {
            width: 100%;
            height: calc(100vh - 86px);
            margin: 0 auto;
            position: relative;
        }
        #ANSWER, #COMMENTS, #DRUG {
            position: absolute;
            top: 0;
            height: 100%;
            overflow: auto;
        }
        #ANSWER {
            left: 0;
            width: 60%;
        }
        #COMMENTS {
            right: 0;
            width: 39%;
        }
        #DRUG {
            left: 60%;
            width: 1%;
            cursor: move;
            background-color: #283655;
            color: #fff;
            text-align:center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        img {
            max-width: 100%;
        }
    link(rel='stylesheet', href='/components/quill.snow/index.css')
    link(href="/components/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet")
    link(rel='stylesheet',href='/components/lightbox2/dist/css/lightbox.min.css')

block navbar
    nav.navbar(style='background-color: #283655; color: #fff; position: fixed; top: 0; z-index:10 ;  width: 100%')
        .col-sm-1.d-none.d-sm-block(style="text-align:left;")
            button.btn.btn-secondary(type='button', ng-click="backPage()", style="padding:2px 5px 0px 3px;margin-right:10px;")
                i.fas.fa-chevron-left(style="font-size:30px;")
        .col-sm-7.col-12(style="text-align:center;")
            span(style="font-size:20px;")
                i.fas.fa-file-alt &nbsp;
                | {{competition.name}}
        .col-sm-4.col-12(style="text-align:right;")
            button.btn.btn-primary(type='button', ng-click="changeLocale()", style="padding:2px 5px 0px 3px;margin-right:10px;")
                i.fas.fa-language(style="font-size:30px;")

block bread

block content
    .d-none.d-md-block
        #container(style="margin-top:3px;")
            #ANSWER(style="padding-top:10px;")
                .alert.alert-danger(role='alert',style="margin-bottom: 20px;", ng-if="currentLang != displayLang")
                    span {{"document.form.languageError" | translate}}
                //Team basic information
                .card(style="margin-bottom:20px;")
                    h5.card-header
                        i.fas.fa-user-friends &nbsp;
                        | {{"document.form.basicInformation" | translate}}
                    .card-body
                        div(style="margin-bottom:10px;")
                            strong {{"document.form.teamName" | translate}}
                        div(style="font-size:20px;")
                            p(ng-bind="team.name")
                        hr
                        div(style="margin-bottom:10px;")
                            strong {{"common.league" | translate}}
                        div(style="font-size:20px;")
                            p(ng-bind="league.name")
                        hr
                        div(style="margin-bottom:10px;")
                            strong {{"common.region" | translate}}
                        div(style="font-size:20px;")
                            p(ng-bind="team.country")

                div(ng-repeat="(blockIndex, block) in blocks track by $index")
                    .card(ng-style="{border: '3px solid #' + block.color}", style="margin-bottom:20px;")
                        h5.card-header(ng-bind="langContent(block.i18n, 'title')")
                        .card-body
                            div(ng-repeat="(questionIndex, question) in block.questions track by $index")
                                div(style="margin-bottom:10px;font-size:20px;")
                                    i.far.fa-image(ng-if="question.type=='picture'") &nbsp;
                                    i.fas.fa-video(ng-if="question.type=='movie'") &nbsp;
                                    i.fas.fa-file-pdf(ng-if="question.type=='pdf'") &nbsp;
                                    i.fas.fa-file-archive(ng-if="question.type=='zip'") &nbsp;
                                    strong(ng-bind="langContent(question.i18n, 'question')")
                                    span.badge.badge-danger(ng-show="question.required", style="float:right;margin-left:5px;") {{"document.form.required" | translate}}
                                    span.badge.badge-primary(ng-hide="question.required", style="float:right;margin-left:5px;") {{"document.form.optional" | translate}}
                                div(style="font-size:15px;")
                                    p(ng-bind-html="langContent(question.i18n, 'description')")
                                div(ng-if="question.type=='input'")
                                    div(style="margin-top:10px;padding:10px;border: 1px solid #555", ng-bind-html="answers[blockIndex][questionIndex]")
                                div(ng-if="question.type=='select'")
                                    select.custom-select(ng-model='answers[blockIndex][questionIndex]', disabled , ng-options="option.value as option.text for option in langArray(question.i18n, 'options')")
                                div(ng-if="question.type=='scale'")
                                    .btn-group
                                        button.btn.btn-outline-primary(type='button', ng-repeat='ans in rangeS(question.scale.least, question.scale.most)', ng-class='{active: answers[blockIndex][questionIndex] == ans}')  {{ans}}
                                div(ng-if="question.type=='picture'")
                                    .row(ng-if="checkUploaded(question.fileName)", style="width:100%;")
                                        .col-12
                                            div(style="text-align:center;margin:10px 0px;")
                                                a(style="max-width: 100%;height: auto; margin-bottom:20px;" ng-href="/api/document/files/{{team._id}}/{{token}}/{{nameUploaded(question.fileName)}}?v={{updateTime}}" data-lightbox="image")
                                                    img.img-thumbnail(style="max-height: 500px;max-width:100%;width: auto;margin-bottom:20px;" ng-src="/api/document/files/{{team._id}}/{{token}}/{{nameUploaded(question.fileName)}}?v={{updateTime}}")

                                div(ng-if="question.type=='movie'")
                                    .row(ng-if="checkUploaded(question.fileName) && !question.uploading", style="width:100%;")
                                        .col-12
                                            div(style="text-align:center;margin:10px 0px;")
                                                video(style="max-width:100%;max-height:80vh;", controls, preload="metadata", ng-attr-poster="{{getThumbnailLink(question.fileName)}}")
                                                    source(ng-src="{{getVideoLink(v)}}", ng-repeat="v in getVideoList(question.fileName)")
                                                br
                                                a(ng-href="{{getVideoLink(getVideoList(question.fileName)[0])}}" download) {{"document.form.cantplay" | translate}}


                                div(ng-if="question.type=='pdf'")
                                    .row(ng-if="checkUploaded(question.fileName)", style="width:100%;")
                                        .col-12
                                            div(style="text-align:center;margin:10px 0px;")
                                                iframe(ng-src="{{getPdfLink(question.fileName)}}" style="width:100%; height:500px;" )
                
                                div(ng-if="question.type=='zip'")
                                    .row(ng-if="checkUploaded(question.fileName)", style="width:100%;")
                                        .col-12
                                            div(style="text-align:center;margin:10px 0px;")
                                                a.btn.btn-primary(type='file' ng-href="/api/document/files/{{team._id}}/{{token}}/{{nameUploaded(question.fileName)}}?v={{updateTime}}")
                                                    i.fas.fa-file-archive &nbsp;
                                                    | {{"document.form.uploaded" | translate}}

                                hr(ng-if="!$last")
            #COMMENTS(style="padding:5px 15px 0 0;margin-right: -15px;")
                div(style="margin: 0 5px;")
                    div(ng-if="scaleFlag", style="margin: 10px 0")
                        i.fas.fa-calculator.fa-2x(aria-hidden='true') &nbsp; {{calcScore()}} {{'common.point' | translate}}
                    div(ng-repeat="(blockIndex, block) in review track by $index")
                        .card(ng-style="{border: '3px solid #' + block.color}", style="margin-bottom:20px;")
                            h5.card-header(ng-bind="langContent(block.i18n, 'title')")
                            .card-body
                                div(ng-repeat="(questionIndex, question) in block.questions track by $index")
                                    div(style="margin-bottom:10px;font-size:20px;")
                                        i.far.fa-image(ng-if="question.type=='picture'") &nbsp;
                                        i.fas.fa-video(ng-if="question.type=='movie'") &nbsp;
                                        i.fas.fa-file-pdf(ng-if="question.type=='pdf'") &nbsp;
                                        i.fas.fa-file-archive(ng-if="question.type=='zip'") &nbsp;
                                        strong(ng-bind="langContent(question.i18n, 'question')")
                                        span.badge.badge-danger(ng-show="question.required", style="float:right;margin-left:5px;") {{"document.form.required" | translate}}
                                        span.badge.badge-primary(ng-hide="question.required", style="float:right;margin-left:5px;") {{"document.form.optional" | translate}}
                                    div(style="font-size:15px;")
                                        p(ng-bind-html="langContent(question.i18n, 'description')")
                                    div(ng-if="question.type=='input'")
                                        div(ng-repeat="review in reviewComments track by $index")
                                            span
                                                i.fas.fa-user-edit &nbsp;
                                                | {{review.reviewer.username}}
                                            div(style="border: solid 1px #666;margin-bottom:10px;", ng-bind-html="trust(review.comments[blockIndex][questionIndex])")
                                    div(ng-if="question.type=='select'")
                                        div(ng-repeat="review in reviewComments track by $index")
                                            span
                                                i.fas.fa-user-edit &nbsp;
                                                | {{review.reviewer.username}}
                                            select.custom-select(ng-model='review.comments[blockIndex][questionIndex]', ng-options="option.value as option.text for option in langArray(question.i18n, 'options')", disabled, style="margin-bottom:10px;")
                                    div(ng-if="question.type=='scale'")
                                        table.custom(style="overflow: scroll;")
                                            thead 
                                                tr 
                                                    th
                                                        i.fas.fa-user-edit &nbsp;
                                                        | {{"document.review.user" | translate}}
                                                    th {{"document.review.rating" | translate}}
                                            tbody
                                                tr(ng-repeat="review in reviewComments track by $index")
                                                    td
                                                        span {{review.reviewer.username}} &nbsp;
                                                        i.fas.fa-eraser(style="color: #e74c3c;" ng-click="removeComment(review._id, blockIndex, questionIndex)")
                                                    td(ng-bind="review.comments[blockIndex][questionIndex]")
                                                tr
                                                    td(style="background-color: #FFA9A9;") {{"document.review.ratingAve" | translate}}
                                                    td(ng-bind="calcAve(blockIndex, questionIndex)" style="background-color: #FFA9A9;")


                                    div(ng-if="question.type=='picture'")
                                        div(ng-repeat="review in reviewComments track by $index",ng-if="checkUploadedReview(question.fileName, review.reviewer.username)")
                                            span
                                                i.fas.fa-user-edit &nbsp;
                                                | {{review.reviewer.username}}
                                            .row(style="width:100%;")
                                                .col-12
                                                    div(style="text-align:center;margin:10px 0px;")
                                                        a(style="max-width: 100%;height: auto; margin-bottom:20px;" ng-href="/api/document/review/files/{{team._id}}/{{nameUploadedReview(question.fileName, review.reviewer.username)}}?v={{updateTime}}" data-lightbox="image")
                                                            img.img-thumbnail(style="max-height: 500px;max-width:100%;width: auto;margin-bottom:20px;" ng-src="/api/document/review/files/{{team._id}}/{{nameUploadedReview(question.fileName, review.reviewer.username)}}?v={{updateTime}}")
                                       
                                    div(ng-if="question.type=='movie'")
                                        div(ng-repeat="review in reviewComments track by $index",ng-if="checkUploadedReview(question.fileName, review.reviewer.username)")
                                            span
                                                i.fas.fa-user-edit &nbsp;
                                                | {{review.reviewer.username}}
                                            .row(style="width:100%;")
                                                .col-12
                                                    div(style="text-align:center;margin:10px 0px;")
                                                        video(style="max-width:100%;max-height:600px;", controls, preload="metadata", ng-attr-poster="{{getThumbnailLinkReview(question.fileName, review.reviewer.username)}}")
                                                            source(ng-src="{{getVideoLinkReview(v)}}", ng-repeat="v in getVideoListReview(question.fileName, review.reviewer.username)")
                                                        br
                                                        a(ng-href="{{getVideoLinkReview(getVideoListReview(question.fileName)[0])}}" download) {{"document.form.cantplay" | translate}}

                                    div(ng-if="question.type=='pdf'")
                                        div(ng-repeat="review in reviewComments track by $index",ng-if="checkUploadedReview(question.fileName, review.reviewer.username)")
                                            span
                                                i.fas.fa-user-edit &nbsp;
                                                | {{review.reviewer.username}}
                                            .row(style="width:100%;")
                                                .col-12
                                                    div(style="text-align:center;margin:10px 0px;")
                                                        iframe(ng-src="{{getPdfLinkReview(question.fileName, review.reviewer.username)}}" style="width:100%; height:600px;" )
                                    div(ng-if="question.type=='zip'")
                                        div(ng-repeat="review in reviewComments track by $index",ng-if="checkUploadedReview(question.fileName, review.reviewer.username)")
                                            span
                                                i.fas.fa-user-edit &nbsp;
                                                | {{review.reviewer.username}}
                                            .row(style="width:100%;")
                                                .col-12
                                                    div(style="text-align:center;margin:10px 0px;")
                                                        a.btn.btn-primary(type='file' ng-href="/api/document/review/files/{{team._id}}/{{nameUploadedReview(question.fileName, review.reviewer.username)}}?v={{updateTime}}")
                                                            i.fas.fa-file-archive &nbsp;
                                                            | {{"document.form.uploaded" | translate}}

                                    hr(ng-if="!$last")
                    
            #DRUG
                i.fas.fa-ellipsis-v(style="margin-top:10vh;")
                i.fas.fa-ellipsis-v(style="margin-top:30vh;")
                i.fas.fa-ellipsis-v(style="margin-top:30vh;")
    .d-block.d-md-none
        .alert.alert-danger(role='alert',style="margin: 20px 0px;", ng-if="currentLang != displayLang")
            span {{"document.form.languageError" | translate}}
        //Team basic information
        .card(style="margin:20px 0px;")
            h5.card-header
                i.fas.fa-user-friends &nbsp;
                | {{"document.form.basicInformation" | translate}}
            .card-body
                div(style="margin-bottom:10px;")
                    strong {{"document.form.teamName" | translate}}
                div(style="font-size:20px;")
                    p(ng-bind="team.name")
                hr
                div(style="margin-bottom:10px;")
                    strong {{"common.league" | translate}}
                div(style="font-size:20px;")
                    p(ng-bind="league.name")
                hr
                div(style="margin-bottom:10px;")
                    strong {{"common.region" | translate}}
                div(style="font-size:20px;")
                    p(ng-bind="team.country")

        div(ng-repeat="(blockIndex, block) in blocks track by $index")
            .card(ng-style="{border: '3px solid #' + block.color}", style="margin-bottom:20px;")
                h5.card-header(ng-bind="langContent(block.i18n, 'title')")
                .card-body
                    div(ng-repeat="(questionIndex, question) in block.questions track by $index")
                        div(style="margin-bottom:10px;font-size:20px;")
                            i.far.fa-image(ng-if="question.type=='picture'") &nbsp;
                            i.fas.fa-video(ng-if="question.type=='movie'") &nbsp;
                            i.fas.fa-file-pdf(ng-if="question.type=='pdf'") &nbsp;
                            i.fas.fa-file-archive(ng-if="question.type=='zip'") &nbsp;
                            strong(ng-bind="langContent(question.i18n, 'question')")
                            span.badge.badge-danger(ng-show="question.required", style="float:right;margin-left:5px;") {{"document.form.required" | translate}}
                            span.badge.badge-primary(ng-hide="question.required", style="float:right;margin-left:5px;") {{"document.form.optional" | translate}}
                        div(style="font-size:15px;")
                            p(ng-bind-html="langContent(question.i18n, 'description')")
                        div(ng-if="question.type=='input'")
                            div(style="margin-top:10px;padding:10px;border: 1px solid #555", ng-bind-html="answers[blockIndex][questionIndex]")
                        div(ng-if="question.type=='select'")
                            select.custom-select(ng-model='answers[blockIndex][questionIndex]', disabled , ng-options="option.value as option.text for option in langArray(question.i18n, 'options')")
                        div(ng-if="question.type=='scale'")
                            .btn-group
                                button.btn.btn-outline-primary(type='button', ng-repeat='ans in rangeS(question.scale.least, question.scale.most)', ng-class='{active: answers[blockIndex][questionIndex] == ans}')  {{ans}}
                        div(ng-if="question.type=='picture'")
                            .row(ng-if="checkUploaded(question.fileName)", style="width:100%;")
                                .col-12
                                    div(style="text-align:center;margin:10px 0px;")
                                        img.img-thumbnail(style="max-height: 80vh;max-width:100%;width: auto;margin-bottom:20px;" ng-src="/api/document/files/{{team._id}}/{{token}}/{{nameUploaded(question.fileName)}}?v={{updateTime}}")

                        div(ng-if="question.type=='movie'")
                            .row(ng-if="checkUploaded(question.fileName) && !question.uploading", style="width:100%;")
                                .col-12
                                    div(style="text-align:center;margin:10px 0px;")
                                        video(style="max-width:100%;max-height:80vh;", controls, preload="metadata", ng-attr-poster="{{getThumbnailLink(question.fileName)}}")
                                            source(ng-src="{{getVideoLink(v)}}", ng-repeat="v in getVideoList(question.fileName)")
                                        br
                                        a(ng-href="{{getVideoLink(getVideoList(question.fileName)[0])}}" download) {{"document.form.cantplay" | translate}}


                        div(ng-if="question.type=='pdf'")
                            .row(ng-if="checkUploaded(question.fileName)", style="width:100%;")
                                .col-12
                                    div(style="text-align:center;margin:10px 0px;")
                                        iframe(ng-src="{{getPdfLink(question.fileName)}}" style="width:100%; height:500px;" )
        
                        div(ng-if="question.type=='zip'")
                            .row(ng-if="checkUploaded(question.fileName)", style="width:100%;")
                                .col-12
                                    div(style="text-align:center;margin:10px 0px;")
                                        a.btn.btn-primary(type='file' ng-href="/api/document/files/{{team._id}}/{{token}}/{{nameUploaded(question.fileName)}}?v={{updateTime}}")
                                            i.fas.fa-file-archive &nbsp;
                                            | {{"document.form.uploaded" | translate}}

                        hr(ng-if="!$last")
        hr
        div(style="margin: 0 5px;")
            div(ng-repeat="(blockIndex, block) in review track by $index")
                .card(ng-style="{border: '3px solid #' + block.color}", style="margin-bottom:20px;")
                    h5.card-header(ng-bind="langContent(block.i18n, 'title')")
                    .card-body
                        div(ng-repeat="(questionIndex, question) in block.questions track by $index")
                            div(style="margin-bottom:10px;font-size:20px;")
                                i.far.fa-image(ng-if="question.type=='picture'") &nbsp;
                                i.fas.fa-video(ng-if="question.type=='movie'") &nbsp;
                                i.fas.fa-file-pdf(ng-if="question.type=='pdf'") &nbsp;
                                i.fas.fa-file-archive(ng-if="question.type=='zip'") &nbsp;
                                strong(ng-bind="langContent(question.i18n, 'question')")
                                span.badge.badge-danger(ng-show="question.required", style="float:right;margin-left:5px;") {{"document.form.required" | translate}}
                                span.badge.badge-primary(ng-hide="question.required", style="float:right;margin-left:5px;") {{"document.form.optional" | translate}}
                            div(style="font-size:15px;")
                                p(ng-bind-html="langContent(question.i18n, 'description')")
                            div(ng-if="question.type=='input'")
                                div(ng-repeat="review in reviewComments track by $index")
                                    span
                                        i.fas.fa-user-edit &nbsp;
                                        | {{review.reviewer.username}}
                                    div(style="border: solid 1px #666;margin-bottom:10px;", ng-bind-html="trust(review.comments[blockIndex][questionIndex])")
                            div(ng-if="question.type=='select'")
                                div(ng-repeat="review in reviewComments track by $index")
                                    span
                                        i.fas.fa-user-edit &nbsp;
                                        | {{review.reviewer.username}}
                                    select.custom-select(ng-model='review.comments[blockIndex][questionIndex]', ng-options="option.value as option.text for option in langArray(question.i18n, 'options')", disabled, style="margin-bottom:10px;")
                            div(ng-if="question.type=='scale'")
                                table.custom(style="overflow: scroll;")
                                    thead 
                                        tr 
                                            th
                                                i.fas.fa-user-edit &nbsp;
                                                | {{"document.review.user" | translate}}
                                            th {{"document.review.rating" | translate}}
                                    tbody
                                        tr(ng-repeat="review in reviewComments track by $index")
                                            td(ng-bind="review.reviewer.username")
                                            td(ng-bind="review.comments[blockIndex][questionIndex]")
                                        tr
                                            td(style="background-color: #FFA9A9;") {{"document.review.ratingAve" | translate}}
                                            td(ng-bind="calcAve(blockIndex, questionIndex)" style="background-color: #FFA9A9;")

                            div(ng-if="question.type=='picture'")
                                div(ng-repeat="review in reviewComments track by $index",ng-if="checkUploadedReview(question.fileName, review.reviewer.username)")
                                    span
                                        i.fas.fa-user-edit &nbsp;
                                        | {{review.reviewer.username}}
                                    .row(style="width:100%;")
                                        .col-12
                                            div(style="text-align:center;margin:10px 0px;")
                                                a(style="max-width: 100%;height: auto; margin-bottom:20px;" ng-href="/api/document/review/files/{{team._id}}/{{nameUploadedReview(question.fileName, review.reviewer.username)}}?v={{updateTime}}" data-lightbox="image")
                                                    img.img-thumbnail(style="max-height: 500px;max-width:100%;width: auto;margin-bottom:20px;" ng-src="/api/document/review/files/{{team._id}}/{{nameUploadedReview(question.fileName, review.reviewer.username)}}?v={{updateTime}}")
                                
                            div(ng-if="question.type=='movie'")
                                div(ng-repeat="review in reviewComments track by $index",ng-if="checkUploadedReview(question.fileName, review.reviewer.username)")
                                    span
                                        i.fas.fa-user-edit &nbsp;
                                        | {{review.reviewer.username}}
                                    .row(style="width:100%;")
                                        .col-12
                                            div(style="text-align:center;margin:10px 0px;")
                                                video(style="max-width:100%;max-height:600px;", controls, preload="metadata", ng-attr-poster="{{getThumbnailLinkReview(question.fileName, review.reviewer.username)}}")
                                                    source(ng-src="{{getVideoLinkReview(v)}}", ng-repeat="v in getVideoListReview(question.fileName, review.reviewer.username)")
                                                br
                                                a(ng-href="{{getVideoLinkReview(getVideoListReview(question.fileName)[0])}}" download) {{"document.form.cantplay" | translate}}

                            div(ng-if="question.type=='pdf'")
                                div(ng-repeat="review in reviewComments track by $index",ng-if="checkUploadedReview(question.fileName, review.reviewer.username)")
                                    span
                                        i.fas.fa-user-edit &nbsp;
                                        | {{review.reviewer.username}}
                                    .row(style="width:100%;")
                                        .col-12
                                            div(style="text-align:center;margin:10px 0px;")
                                                iframe(ng-src="{{getPdfLinkReview(question.fileName, review.reviewer.username)}}" style="width:100%; height:600px;" )
                            div(ng-if="question.type=='zip'")
                                div(ng-repeat="review in reviewComments track by $index",ng-if="checkUploadedReview(question.fileName, review.reviewer.username)")
                                    span
                                        i.fas.fa-user-edit &nbsp;
                                        | {{review.reviewer.username}}
                                    .row(style="width:100%;")
                                        .col-12
                                            div(style="text-align:center;margin:10px 0px;")
                                                a.btn.btn-primary(type='file' ng-href="/api/document/review/files/{{team._id}}/{{nameUploadedReview(question.fileName, review.reviewer.username)}}?v={{updateTime}}")
                                                    i.fas.fa-file-archive &nbsp;
                                                    | {{"document.form.uploaded" | translate}}

                            hr(ng-if="!$last")