//- -*- tab-width: 2 -*-
//- -*- tab-width: 2 -*-
html(ng-app="LineScore")
  head
    title Rescue Line Score Print
    script.
      var runId = "#{id}"

    include ./includes/common_component
    script.
      var competitionId = "#{id}"
      var competitionId = "#{id}"
      var league = "#{league}"
      var UseRunsNumber = "#{num}"
      var get = !{JSON.stringify(get)}
    script(src = '/components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js')
    script(src = '/components/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js')
    script(src = '/components/datatables/media/js/jquery.dataTables.min.js')
    script(src = '/components/angular-datatables/demo/src/archives/dist/angular-datatables.min.js')
    script(src='/javascripts/line_score.js')
    script(src='/components/ng-file-upload/ng-file-upload-all.min.js')
    script(src="/javascripts/translate_config.js")
    style(type='text/css').
      .uib-time input {
        padding-left: 0;
        padding-right: 0;
        width: 2.5em;
        margin-right: 0;
      }

      .uib-timepicker .btn {
        padding-left: 6px;
        padding-right: 6px;
      }

      @media print {
        .no_print {
          display: none;
        }

        @page {
          margin: 0;
        }

        body {
          margin: 1.6cm;
        }
      }

  body(ng-controller="LineScoreController")
    .row
      .col-12
        .refine.no_print
          .card.border-dark.mb-3(style='width:100%;')
            .card-header.bg-transparent.border-dark.fa-2x
              i.fas.fa-cog(aria-hidden='true') Config
              button(onclick="window.print();" class='btn btn-info' style="margin-left:100px; text-align:right;")
                i.fas.fa-print &nbsp;{{"common.print" | translate}}
            .card-body.text-dark
              h6.card-title Display items
                br
                br
                input(type='checkbox' ng-model='showCode' id="showCode")
                label.checkbox(for="showCode") Code
                input(type='checkbox' ng-model='showTeam' id="showTeam")
                label.checkbox(for="showTeam") Team
              hr
              h6.card-title Comment
              p Top
              input(ng-model="comment.top" style="width:100%")
              p Bottom
              input(ng-model="comment.bottom" style="width:100%")

        center
          .loader(ng-if="Runs==null")
            img(src="/images/loader2.gif")
            p {{'common.loading' | translate}}
        div(ng-if="Runs!=null")
          .row#rank
            .col-lg-12
              .row
                .col-10
                  h3
                   i.fas.fa-award &nbsp;[Ranking] {{league.name}} - {{comment.top}}
                .col-2(style="text-align:right;")
                  img(ng-src="{{competition.logo}}" style="max-height:40px;")
              table.custom(style="overflow: scroll;")
                thead
                  tr
                    th.text-center {{'common.rank' | translate}}
                    th.text-center(ng-if="showCode") Team Code
                    th.text-center(ng-if="showTeam") {{'common.team' | translate}}
                    th.text-center {{'common.score' | translate}}
                    th.text-center {{'common.time' | translate}}
                    th.text-center {{'common.rescued' | translate}}
                    th.text-center {{'common.lops' | translate}}
                tbody
                  tr(ng-repeat='run in RunsTop track by $index')
                    td.text-center(ng-bind='$index + 1' ng-style="run.isplaying && {'background-color': '#ffffa8'}")
                    td.text-center(ng-bind='run.team.name' ng-style="run.isplaying && {'background-color': '#ffffa8'}" ng-if="showTeam")
                    td.text-center(ng-bind='run.team.teamCode' ng-style="run.isplaying && {'background-color': '#ffffa8'}" ng-if="showCode")
                    td.text-center(ng-bind='run.score' ng-style="run.isplaying && {'background-color': '#ffffa8'}")
                    td.text-center(ng-style="run.isplaying && {'background-color': '#ffffa8'}") {{("00"+run.time.minutes).slice(-2)}}:{{("00"+run.time.seconds).slice(-2)}}
                    td.text-center(ng-bind='run.rescuedVictims' ng-style="run.isplaying && {'background-color': '#ffffa8'}")
                    td.text-center(ng-bind='run.LoPsNum' ng-style="run.isplaying && {'background-color': '#ffffa8'}")
        h6(style="text-align:center;margin-top:10px;", ng-if="comment.bottom")
          i.fas.fa-info-circle &nbsp;{{comment.bottom}}
